{{yield}}
<div class="navbar navbar-default navbar-fixed-bottom grey darken-3 sca-footer">
  <ul class="nav navbar-nav navbar-left navbar-left-no-collapse identity-services">
    <li><a href="http://www.snomed.org/" target="_blank">Copyright &copy; 2017 SNOMED International</a></li>
    <li><a href="http://www.snomed.org/contact-us/" target="_blank">Contact Us</a></li>
  </ul>
</div>