{{yield}}
<nav class="navbar grey darken-3 navbar-fixed-top">
  <div class="container-fluid">
    <div class="nav navbar-nav navbar-left navbar-left-no-collapse col-md-7 no-padding">
      <div class="col-md-5">
          <div id="logo">
            <img class="img-responsive" src="../assets/images/small_logo.png" alt="SNOMED International" width="40" height="40">
          </div>
          <div style="display: inline-block; margin-left:10px;">Health Data Analytics</div>
      </div>
      <ul>
        <li>
          {{#link-to 'subsets'}}Subsets{{/link-to}}
        </li>
        <li>
          {{#link-to 'cohorts'}}Cohorts{{/link-to}}
        </li>
      </ul>
    </div>
<!--
    <ul class="nav navbar-nav navbar-right navbar-right-no-collapse identity-services col-md-2">
      <li class="pull-right">
        <a ng-href="#/login">Login</a>
      </li>
    </ul>
-->
  </div>
</nav>