<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo right">Health Data Analytics <sup>(In Development)</sup></a>
        <ul id="nav-mobile" class="left">
            <li>{{#link-to 'subsets'}}Subsets{{/link-to}}</li>
            <li>{{#link-to 'cohorts'}}Cohorts{{/link-to}}</li>
            <li>{{#link-to 'data-generation'}}Data Generation{{/link-to}}</li>
        </ul>
    </div>
</nav>

{{outlet}}
