<body style="theme-template-dark theme-blue">
    <main>
        <div class="main-container sca-colours">
            {{mrcm-header}}
            {{outlet}}
            {{mrcm-footer}}
        </div>
    </main>
</body>