<h2>Data Generation</h2>
<h5>Rule Sets</h5>
<div class="row">
    <div class="col s3">
        <div class="collection">
            {{#each model as |set|}}
                {{#link-to 'data-generation.edit' set class="collection-item"}}{{set.title}}{{/link-to}}
            {{/each}}
        </div>
        <a class="btn-floating waves-effect waves-light red"><i class="material-icons">add</i></a>
    </div>
    <div class="col s9">
        {{outlet}}
    </div>
</div>
