
<div class="col-md-12 row">
    <div class="col-md-12">
        <div class="col-md-6 grey-border-bottom">
            <h2>Cohort</h2>
        </div>
        <div class="col-md-6 grey-border-bottom">
            <h3>{{model.cohortData.totalElements}} Patients Matched</h3>
        </div>
    </div>
    <div class="col-md-3">
        <h3 class="grey-border-bottom">Subsets</h3>
        <div class="">
            {{#each model as |subset|}}
                <p>{{#link-to 'subsets.edit' subset class="collection-item"}}{{subset.name}}{{/link-to}}</p>
            {{/each}}
        </div>
        <a class="btn-floating waves-effect waves-light blue"><i class="material-icons">add</i></a>
    </div>
    <div class="col-md-9 grey-border-bottom grey-border-left">
        {{outlet}}
    </div>
</div>
